<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - distanceproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/navbarStyleSheet.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                @*<div class="container">*@
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h4><i class='fas fa-map-marker-alt mr-2'></i>Geo-Locate</h4></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav  ml-auto">
                            <li class="nav-item">
                                <a class=" nava " asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nava " asp-area="" asp-controller="Home" asp-action="Index">Calculate Distance</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nava " asp-area="" asp-controller="Home" asp-action="List">View List</a>
                            </li>
                        </ul>
                    </div>
                @*</div>*@
            </nav>
        </header>
   

    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <h5 style="color:black">&copy; 2021 - Geo-Locate -Privacy-<i class='fa fa-facebook-official'></i>-<i class='fa fa-instagram'></i>-<i class='fa fa-twitter'></i></h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
